$primaryDarkColor: #222647;
$primaryColor: #4a52ff;
$primaryLightColor: #c9cbff;
$passiveColor: #c7c5c3;
$attentionColor: #fffb94;
$successColor: #96e697;
$neutralLightColor: #ffffff;
$neutralDarkColor: #191919;
